Filter and search logs

You reached the start of the range
May 13, 2026, 6:07 PM
Starting Container
[2026-05-13 21:08:15 +0000] [1] [INFO] Starting gunicorn 22.0.0
[2026-05-13 21:08:15 +0000] [1] [INFO] Listening at: http://0.0.0.0:8080 (1)
[2026-05-13 21:08:15 +0000] [1] [INFO] Using worker: sync
[2026-05-13 21:08:15 +0000] [2] [INFO] Booting worker with pid: 2
[2026-05-13 21:08:16 +0000] [3] [INFO] Booting worker with pid: 3
/app/.venv/lib/python3.13/site-packages/requests/__init__.py:113: RequestsDependencyWarning: urllib3 (2.7.0) or chardet (7.4.3)/charset_normalizer (3.4.7) doesn't match a supported version!
  warnings.warn(
/app/.venv/lib/python3.13/site-packages/requests/__init__.py:113: RequestsDependencyWarning: urllib3 (2.7.0) or chardet (7.4.3)/charset_normalizer (3.4.7) doesn't match a supported version!
  warnings.warn(
2026-05-13 21:08:16,768 - INFO - ✅ Banco inicializado.
2026-05-13 21:08:16,788 - INFO - ✅ Banco inicializado.
2026-05-13 21:09:06,708 - ERROR - Exception on /selecionar-data [GET]
Traceback (most recent call last):
  File "/app/.venv/lib/python3.13/site-packages/flask/app.py", line 1473, in wsgi_app
    response = self.full_dispatch_request()
  File "/app/.venv/lib/python3.13/site-packages/flask/app.py", line 882, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/app/.venv/lib/python3.13/site-packages/flask/app.py", line 880, in full_dispatch_request
    rv = self.dispatch_request()
  File "/app/.venv/lib/python3.13/site-packages/flask/app.py", line 865, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**view_args)  # type: ignore[no-any-return]
           ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^
  File "/app/.venv/lib/python3.13/site-packages/flask_login/utils.py", line 290, in decorated_view
    return current_app.ensure_sync(func)(*args, **kwargs)
           ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^
  File "/app/app.py", line 254, in selecionar_data
    return render_template('selecionar_data.html', data_selecionada=data, eventos=eventos, user_role=current_user.role)
  File "/app/.venv/lib/python3.13/site-packages/flask/templating.py", line 150, in render_template
    return _render(app, template, context)
        force_external=_external,
    )
  File "/app/.venv/lib/python3.13/site-packages/werkzeug/routing/map.py", line 901, in build
  File "/app/.venv/lib/python3.13/site-packages/flask/templating.py", line 131, in _render
    rv = template.render(context)
  File "/app/.venv/lib/python3.13/site-packages/jinja2/environment.py", line 1295, in render
    self.environment.handle_exception()
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^^
  File "/app/.venv/lib/python3.13/site-packages/jinja2/environment.py", line 942, in handle_exception
    raise rewrite_traceback_stack(source=source)
  File "/app/templates/selecionar_data.html", line 129, in top-level template code
    <a href="{{ url_for('usuarios.logout') }}" class="btn btn-outline-light btn-sm mb-1">
    ^^^^^^^^^^^^^^^^^
  File "/app/.venv/lib/python3.13/site-packages/flask/app.py", line 1084, in url_for
    return self.handle_url_build_error(error, endpoint, values)
           ~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/app/.venv/lib/python3.13/site-packages/flask/app.py", line 1073, in url_for
    rv = url_adapter.build(  # type: ignore[union-attr]
        endpoint,
    ...<3 lines>...
    raise BuildError(endpoint, values, method, self)
werkzeug.routing.exceptions.BuildError: Could not build url for endpoint 'usuarios.logout'. Did you mean 'logout' instead?
2026-05-13 21:09:06,978 - ERROR - Exception on /selecionar-data [GET]
Traceback (most recent call last):
  File "/app/.venv/lib/python3.13/site-packages/flask/app.py", line 1473, in wsgi_app
    response = self.full_dispatch_request()
  File "/app/.venv/lib/python3.13/site-packages/flask/app.py", line 882, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/app/.venv/lib/python3.13/site-packages/flask/app.py", line 880, in full_dispatch_request
    rv = self.dispatch_request()
  File "/app/.venv/lib/python3.13/site-packages/flask/app.py", line 865, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**view_args)  # type: ignore[no-any-return]
           ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^
  File "/app/.venv/lib/python3.13/site-packages/flask_login/utils.py", line 290, in decorated_view
    return current_app.ensure_sync(func)(*args, **kwargs)
           ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^
  File "/app/app.py", line 254, in selecionar_data
    return render_template('selecionar_data.html', data_selecionada=data, eventos=eventos, user_role=current_user.role)
  File "/app/.venv/lib/python3.13/site-packages/flask/templating.py", line 150, in render_template
    return _render(app, template, context)
  File "/app/.venv/lib/python3.13/site-packages/flask/templating.py", line 131, in _render
    rv = template.render(context)
  File "/app/.venv/lib/python3.13/site-packages/jinja2/environment.py", line 1295, in render
    self.environment.handle_exception()
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^^
  File "/app/.venv/lib/python3.13/site-packages/jinja2/environment.py", line 942, in handle_exception
    raise rewrite_traceback_stack(source=source)
  File "/app/templates/selecionar_data.html", line 129, in top-level template code
    <a href="{{ url_for('usuarios.logout') }}" class="btn btn-outline-light btn-sm mb-1">
    ^^^^^^^^^^^^^^^^^
  File "/app/.venv/lib/python3.13/site-packages/flask/app.py", line 1084, in url_for
    return self.handle_url_build_error(error, endpoint, values)
           ~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/app/.venv/lib/python3.13/site-packages/flask/app.py", line 1073, in url_for
    rv = url_adapter.build(  # type: ignore[union-attr]
        endpoint,
    ...<3 lines>...
        force_external=_external,
    )
  File "/app/.venv/lib/python3.13/site-packages/werkzeug/routing/map.py", line 901, in build
    raise BuildError(endpoint, values, method, self)
werkzeug.routing.exceptions.BuildError: Could not build url for endpoint 'usuarios.logout'. Did you mean 'logout' instead?
  File "/app/.venv/lib/python3.13/site-packages/flask_login/utils.py", line 290, in decorated_view
    return current_app.ensure_sync(func)(*args, **kwargs)
           ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^
  File "/app/app.py", line 254, in selecionar_data
    return render_template('selecionar_data.html', data_selecionada=data, eventos=eventos, user_role=current_user.role)
2026-05-13 21:09:11,281 - ERROR - Exception on /selecionar-data [GET]
Traceback (most recent call last):
  File "/app/.venv/lib/python3.13/site-packages/flask/app.py", line 1473, in wsgi_app
  File "/app/.venv/lib/python3.13/site-packages/flask/templating.py", line 150, in render_template
    response = self.full_dispatch_request()
    return _render(app, template, context)
  File "/app/.venv/lib/python3.13/site-packages/flask/app.py", line 882, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/app/.venv/lib/python3.13/site-packages/flask/app.py", line 880, in full_dispatch_request
    rv = self.dispatch_request()
  File "/app/.venv/lib/python3.13/site-packages/flask/app.py", line 865, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**view_args)  # type: ignore[no-any-return]
           ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^
  File "/app/.venv/lib/python3.13/site-packages/flask/templating.py", line 131, in _render
    rv = template.render(context)
  File "/app/.venv/lib/python3.13/site-packages/jinja2/environment.py", line 1295, in render
    self.environment.handle_exception()
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^^
  File "/app/.venv/lib/python3.13/site-packages/jinja2/environment.py", line 942, in handle_exception
    raise rewrite_traceback_stack(source=source)
    ...<3 lines>...
        force_external=_external,
  File "/app/templates/selecionar_data.html", line 129, in top-level template code
    )
  File "/app/.venv/lib/python3.13/site-packages/werkzeug/routing/map.py", line 901, in build
    <a href="{{ url_for('usuarios.logout') }}" class="btn btn-outline-light btn-sm mb-1">
    raise BuildError(endpoint, values, method, self)
    ^^^^^^^^^^^^^^^^^
werkzeug.routing.exceptions.BuildError: Could not build url for endpoint 'usuarios.logout'. Did you mean 'logout' instead?
  File "/app/.venv/lib/python3.13/site-packages/flask/app.py", line 1084, in url_for
    return self.handle_url_build_error(error, endpoint, values)
           ~~~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/app/.venv/lib/python3.13/site-packages/flask/app.py", line 1073, in url_for
    rv = url_adapter.build(  # type: ignore[union-attr]
        endpoint,
